<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @exercise.name %>
</p>

<p>
  <b>Description:</b>
  <%= @exercise.description %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag @exercise.image.url %>
  <%= image_tag @exercise.image.url(:medium) %>
  <%= image_tag @exercise.image.url(:thumb) %>
</p>


<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
